@model List<Urun>
@{ 
   // Layout = "_Layout";  viewstart içinde yazdık
    ViewBag.Title = "Ana Sayfa @View";
}
<h1>Ürünlerimiz</h1>
@foreach (var item in Model)
{
    <p>
        @item.Id - @item.Ad - @($"{item.Fiyat:c2}")

    </p>
}